.dynamic-portfolio {
    display: flex;
    justify-content: space-around;
    font-family: inherit;
    padding-top: 40px;
    padding-bottom: 25px;
    background: white;
}

.content {
    flex: 3;
    padding-left: 45px;
    display: flex;
}




/*school-div*/
.school {
    display: none;
}

.school-desc {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-self: center;
    width: 700px;
}

#nus, #pku, #ocip, #internship {
    display: flex;
    flex-basis: 100px;   
    justify-content: stretch;
}

.programme {
    flex: 3;
    align-self: center;
    text-align: justify;
}

.programme p {
    display: flex;
}

.dates {
    flex: 1;
    order: -1;
    align-self: center;
    text-align: center; 
}


/* work-div */
.work {
    display: none;
}

.work-desc {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
}



#psd, #roboto {
    display: flex;
    flex-basis: 200px;
    justify-content: space-around;
}

.logo {
    flex: 1;
    align-self: center;
    text-align: center; 
}

.desc-p {
    flex: 3;
    align-self: center;
}

/* buttons */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-size: 125%;
    font-style: inherit;
    justify-content: space-between;
    align-items: space-between;
}

#desc-btn, #school-btn, #work-btn {
    width: 150px;
    height: 150px;
    background: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    padding: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid grey;
    margin: 5px auto;
}

#desc-btn {
    background: pink;
}

#school-btn {
    background: yellow;
}

#work-btn {
    background: lawngreen;
}