body {
  background-color: #ffeead;
/*  padding: 0 50px; */



}

.wrapper {
  margin-top: 70px;
  display: grid;
  background-color: #ffeead;
  color: #ffeead;
  font-family: 'Mali', cursive;
  font-size: 150%;
  text-align: center;
  grid-gap: 1em;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas:
    "m f f f f"
    "m t t t t"
    "c t t t t"
    "c t t t t";

}
/* money */
.money-div {
  background-color: #88d8b0;
  grid-area: m;
  padding: 10px;
}

.income-box, .savings-box {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;

}

.income-box p {
  margin: 0;
  display: inline-block;
  font-weight: bold;

}


.income-box button {
  background-color: #ffeead;
  height: 40px;
}

.income-box button p {
  margin: 1%;
  font-family: 'Mali', cursive;


}

.income-box span input {
  height: 15px;
}


.categories {
  width: 100%;
  background-color: #566573;
  color: #ff6f69;
  border: 1px solid #ff6f69;
  padding: 5px;
}

.total-spending {
  border-top: 1px solid #ff6f69;
}

#savings-amount, .savings-box p {
  margin: 5px;
}

#total-spending {
  color: white;
}




/* form */
.form-div {
  padding: 10px;
  grid-area: f;
  display: grid;
  grid-template:
    "d d d e"
    "i i i s"
    "a a a s";
  background-color: #ff6f69;
  font-size: 80%;
  text-align: left;
}

label {
  display: inline-block;
  width: 20%;
}

.date {
  grid-area: d;
  font-family: 'Mali', cursive;
}

.expense-type {
  grid-area: e;
  font-family: 'Mali', cursive;
  text-align: center;
  font-size: 110%;
}

#expense-type {
  width: 100%;
  height: 80%;
}

.item {
  grid-area: i;
  font-family: 'Mali', cursive;
}

#item {
  width: 75%;
}

.amount {
  grid-area: a;
  font-family: 'Mali', cursive;
}

.submit {
  grid-area: s;
  font-family: 'Mali', cursive;
  text-align: right;
  vertical-align: middle;
}

#submit {
  width: 100%;
  height: 90%;
  font-size: 130%;
}

#date, #expense-type, #item, #amount, #submit {
  font-family: 'Mali', cursive;
}
/*
label {
  display: inline-block;
  width: 20%;
}

#date-dropdown, #expense-type, #item, #amount {

  margin-bottom: 5px;
  width: 50%;
}

#date-dropdown, #expense-type, #amount {
  width: 25%;
}

#expense-type {
  height: 70%;
}
*/

/* calendar */


/*calendar*/
.calendar-div {
  background-color: #58bad8;
  grid-area: c;
  /* -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);  */
  margin: 0 auto;
  /* font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; */
  display:inline-block;
  align-items: stretch;
}

.calendar-div .header {
    cursor:default;
    background: #cd310d;
    background: -moz-linear-gradient(top, #b32b0c, #cd310d);
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d));
    height: 34px;
    position: relative;
    color:#fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight:bold;
    text-shadow:0px -1px 0 #87260C;
    text-transform: uppercase;
}

.calendar-div .header span {
    display:inline-block;
    line-height:34px;
}


/*table*/
.table-div {
  padding: 5px;
  background-color: #96ceb4;
  grid-area: t;
  font-size: 80%;
}

.expenses-list {
  width: 100%;
  background-color: #566573;
  color: #ff6f69;
  border: 1px solid #ff6f69;
}



.expenses-list tbody tr {
  height: 50px;
  font-size: 120%;
  color: white;
}

.expenses-list tbody tr td input {
  height: 40px;
  font-family: 'Mali', cursive;
  color: black;
  font-size: 80%;
}

.expenses-list tbody tr td #category-edit {
  height: 40px;
  font-family: 'Mali', cursive;
  color: black;
  font-size: 80%;
}

.number-col {
  width: 5%;
  margin-bottom: 5px;
}

.type-col {
  width: 15%;
  margin-bottom: 5px;
}

.item-col {
  width: 25%;
  margin-bottom: 5px;
}


.amount-col {
  width: 22%;
  margin-bottom: 5px;
}

.change-col {
  width: 8%;
  margin-bottom: 5px;
  font-family: 'Mali', cursive;

}

.edit-button, .delete-button {
  width: 45%;
  height: 40px;
  font-family: 'Mali', cursive;
  font-size: 0.85rem;
}

/*
.edit-button {
  background-image: url(images/edit.png);
  background-size: 100% 100%;
}*/
