<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="expense-tracker-styles.css">
    </head>
    <body>
        <!-- Navigation Bar Start -->
        <div class = "topnav">
            <div class = "dropdown">
                <a href="index.html" id = "home">Home</a>
            </div>
            
        
            <div class = "dropdown">
              <div class = "dropdown-heading" id = "projects">Projects</div>
              <div class = "dropdown-content">
                <a href="hangman.html">Hangman</a>
                <a href="https://linjj93.github.io/my-react-calculator">Calculator</a>
              </div>
            </div>
      
            <div class = "dropdown">
              <div class = "dropdown-heading" id = "life">Life</div>
              <div class = "dropdown-content">
                <a href="https://linjj93.github.io/backpacking-trip">Backpacking Trip 2017</a>
              </div>
            </div>
        </div>   
        <!-- Navigation Bar End -->
        <!-- Main Start -->
        <div class = "main">
            <!-- Category Section Start-->
            <div class = "category-wrapper">
                <div v-for="category in categoriesList" v-bind:style = "{backgroundColor: category.color}">
                    <p>{{ category.name }}</p>
                    <p>{{ "$" + category.spending }}</p>
                </div>
            </div>
            <!-- Category Section End -->
            <!-- Expense Table Start -->
            <div class ="expense-section">
            <div class = "expense-table">
                <h1>{{ title }}</h1>
                
                                
                <!-- Expenses Start -->
                <div>
                    <div class = "expense-wrapper" v-for="expense in expensesList"  v-on:click = "toggleDetails(expense)">
                        <div class = "expense-content-left">
                            <p class = "expense-name">{{ expense.name }}</p>
                            <p class = "expense-description" v-show = "expense.showDetail">{{ expense.description }}</p>
                        </div>
                        <div class = "expense-content-right">
                            <p class = "expense-amount">{{ expense.amount }}</p>
                            <p class = "expense-type" v-show = "expense.showDetail">{{ expense.type }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Expenses End - -->
            
            <div class = "add-btn" v-on:click = "triggerForm">
                <div>{{ content }}</div>
            </div>
            

            </div>

            <div class = "form" id ="popup" v-show = "formTriggered">


                    <div class = "form-header">
                        <h2>{{ title }}</h2>
                        <span v-on:click = "closeForm">{{ cross }}</span>
                    </div>
                        
                    <div class = "form-top">
                        <div>
                            <label for = "new-expense-amount">Amount Spent (in $)</label>
                            <input type="text" id="new-expense-amount" name = "amount" v-model = "amount"/>
                        </div>

                        <div>
                            <label for = "expense-type-menu">Pick a Category</label>
                            <select id = "expense-type-menu" name = "type" v-model = "type">
                                <option selected = "selected" disabled>Category</option>
                                <option v-for = "category in categories">{{ category.name }}</option>
                            </select>
                        </div>
                        
                    </div>
                    <input type="text" id="new-expense-name" name = "name" placeholder ="Insert New Expense" v-model = "name"/>
                    <input type="text" id="new-expense-description" name = "description" placeholder ="Description" v-model = "description"/>
                    <button type = "submit" id = "save-btn" v-on:click="addNewExpense">{{ save }}</button>
            </div>
            
            
            
            
            
            
            <!-- Input Form -->
            
                
                
                
                <!-- 
                    Add Interactivity
                    Calculate Total
                    Do Category Breakdown           
                -->
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="expense-tracker-app.js"></script>
    </body>
</html>