.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 30px;
  font-family: 'Karla', sans-serif;
  
  
}



.intro, .work, .education, .others {
  background-color: white;
  display: flex;
  padding: 0 20px;
  margin-bottom: 10px;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}


.title {
  margin-bottom: 1px;
}

.intro {
  text-align: justify;
}

.intro img {
  object-fit: none;
}

.intro h1 {
  margin-bottom: 0;
}
.dates {
  font-weight: bold;
  margin: 0;
}

.work {
  order: 1;
}

table {
  padding: 0;
}
table td h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  text-align: justify;
  margin-top: 0;
}

.work img {
  margin-top: 5px;
  object-fit: none;

}


.title p {
  margin: 16px auto 0;
  font-size: 1.5rem;
}

#education-title {
  margin-top: 10px;
}

#psd, #roboto {
  margin-bottom: 15px;
}

#psd p, #roboto p {
  display: inline;
  vertical-align: text-top;
}

.image, .description {
  display: inline-block;
}


.others p {
  font-size: 1.5rem;
  margin-top: 16px;
}
