
      .heading {
        text-align: center;
      }

      .word-slots {
        height: 120px;
        font-family: 'Kalam', cursive;

      }

      table {
        height: 100px;
        width: 800px;
        text-align: center;
        border-collapse: collapse;
        border: solid black;
        table-layout: fixed;
        font-size: 60px;
      }

      }
      td {
        text-align: center;
        border: solid black;
        height: 100px;
        width: 100px;
      }

      div {
        text-align: center;
        margin-bottom: 20px;
      }

      #reset, #reveal {
        padding: 10px;
        text-align: center;
        width: 200px;
      }

      .reset, .reveal {
        text-align: center;
        display: inline;
      }

      .guesses button {
        padding: 15px;
        width: 50px;
        border-radius: 70%;
      }

      #word-guesser, form {
        display: inline;
      }

      #word-guesser {
        margin-right: 15px;
      }

      .lives h4, .lives h3 {
        display: inline;
      }

      .lives #lives-counter {
        margin-right: 100px;
      }
