body {
  background-color: grey;
  font-family: 'Mali', cursive;
  padding: 20px;


}

/* DIVS */

.container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
}

.two {
  display: flex;
  justify-content: space-around;
  height: 500px;
  align-items: center;
  text-align: center;

}

.three {
  
}


.table {
  border: 5px double black;
  width: 400px;
  height: 400px;
}

.table td {
  border: 5px solid black;
  text-align: center;
  font-size: 2.5rem;
}

.score {
  border: 2px groove grey;
  height: 200px;
  width: 200px;

}

.score p {
  margin: 0 auto;
  font-size: 1.5rem;
}


.score span {
  margin-top: 0;
  font-size: 5rem;
}
